<%- include('../partials/layout', { title: 'Welcome', body: `
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="display-4 mb-5">Welcome to my Note-Taking App</h1>
            <p class="lead">Login if you have an account or register if you want to use our features.</p>
            <a href="/login" class="btn btn-success btn-lg mt-5">Login</a>
            <a href="/register" class="btn btn-danger btn-lg mt-5">Register</a>
        </div>
    </div>
</div>
` }) %>
